<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
      <form method="POST" action="/add_tweet">
        <div>
            <label>Title*</label>
            <div>
                <input type="text"  name="title"  >
            </div>
        </div>
         <div>
            <label>Text*</label>
            <div class="input-group">
                <input type="text"  name="text" maxlength="280">
            </div>
        </div>
         <div>
            <div class="input-group">
                <a href="/all_tweets"><button > all tweets</button></a>
            </div>
        </div>





      </form>
    Great Job!
</body>
</html>